

body {
   color: black;
/*   background-color: #e5e5e5; */
/*   background-color: beige;*/
background-color: white;
   margin-top: 2em;
   margin-left: 8%;
   margin-right: 8%;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: .5em;
}

.partheading {
   font-size: 70%;
}

.chapterheading {
   font-size: 70%;
}

ol {
   list-style-type: decimal;
}

ol ol {
   list-style-type: lower-alpha;
}

ol ol ol {
   list-style-type: lower-roman;
}

ol ol ol ol {
   list-style-type: upper-alpha;
}

.footnote {
   font-size: 75%;
}

.epigraph {
/*   text-align: right; */
   font-size: 75%; 
} 

.figure {
 background-color: lavender;
}

.table {
background-color: pink;
}

.navigation {
   color: red;
   text-align: right;
   font-style: italic;
}

.smallprint {
   color: gray;
   font-size: 75%;
   text-align: right;
}

.smallprint hr {
   text-align: left;
   width: 40%;
}

.disable {
   /* color: #e5e5e5; */
color: gray;
}


