

body {
   color: black;
/*   background-color: #e5e5e5; */
/*   background-color: beige;*/
background-color: white;
   margin-top: 2em;
   margin-left: 8%;
   margin-right: 8%;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: .5em;
}

.partheading {
   font-size: 70%;
}

.chapterheading {
   font-size: 70%;
}

ol {
   list-style-type: decimal;
}

ol ol {
   list-style-type: lower-alpha;
}

ol ol ol {
   list-style-type: lower-roman;
}

ol ol ol ol {
   list-style-type: upper-alpha;
}

.footnote {
   font-size: 75%;
}

.epigraph {
/*   text-align: right; */
   font-size: 75%; 
} 

.figure {
 background-color: lavender;
}

.table {
background-color: pink;
}

.navigation {
   color: red;
   text-align: right;
   font-style: italic;
}

.smallprint {
   color: gray;
   font-size: 75%;
   text-align: right;
}

.smallprint hr {
   text-align: left;
   width: 40%;
}

.disable {
   /* color: #e5e5e5; */
color: gray;
}

p.centered {
    text-align: center;
    display: inline-block;
    width: auto;
}

table#ch2-Z-G-22 {
    border-spacing: 0;
}

table#ch2-Z-G-22 td {
    text-align: center;
    padding: .1em .4em;
}

table#ch2-Z-G-22 tr.sum td {
    border-top: 1px solid black;
}

table#ch2-Z-G-22 td.label {
    border-right: 1px solid black;
}

table#ch2-Z-G-23 {
    border-spacing: 0;
    border-collapse: collapse;
}

table#ch2-Z-G-23 td
{
    border: 1px solid black;
    height: 32pt;
    width: 32pt;
    vertical-align: center;
    text-align: center;
    font-size: 24pt;
}

table#ch2-Z-G-23 caption {
    text-align: left;
}

table#ch2-Z-G-20 {
    border-spacing: 0;
}

table#ch2-Z-G-20 td {
    padding: .1em .4em;
}

table#ch2-Z-G-20 td.cap.left {
    border-left: 1px solid black;
    padding: 2pt;
}

table#ch2-Z-G-20 td.cap.right {
    border-right: 1px solid black;
    padding: 2pt;
}

table#ch2-Z-G-20 td.cap.top {
    border-top: 1px solid black;
}

table#ch2-Z-G-20 td.cap.bottom {
    border-bottom: 1px solid black;
}
